* {
    padding: 0;
    margin: 0;
  
}

body {
    font-family: 'Roboto', sans-serif;
     color: #555555;
    

}

/* nav text */

.nav_txt {
    font-size: 145%;
}

/*header */

.header {
    background: url("../images/test.jpg");
    background-size: 100% 75%;
    background-repeat: no-repeat;
    height: 600px;
   
}

#header {
    height: 475px;  
}


/* About Us */

.about_us {
    text-align: center;
}

.about_img {
    width: 60%;
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
    
}

.about_txt {
    line-height: 150%;
    padding: 15px;

}

/* current location */

.map_txt {
    text-align: center;
    overflow: hidden;
    margin-top: 15px;
}

